
{{> head }}
    
    {{> navbar }}
<div class="row">

    <div class="col-8">
        <h1>{{nombre}}</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores alias dolor iure eum. Atque vitae cum impedit commodi velit corrupti, iusto magni eveniet, reprehenderit a quaerat, tempora repudiandae natus necessitatibus?
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/gumball.jpg" class="img-thumbnail">
    </div>

</div>


{{> footer }}